$torture-device: #473430; // brown
$poached-ivory: #d8d8c0; // ivory
$photosynthesis: #a8c060; //light green
$moss-carpet: #547239; // dark green
$redish: #820408; // red
$white: #ffffff;
$deep-green: #203f1f;
