@import "font-face";
@import 'colors';

@include font-face('Avenir-Roman-webfont');
@include font-face('Avenir-Medium-webfont');
@include font-face('Avenir-Light-webfont');

$avenir-roman: 'Avenir-Roman-webfont', sans-serif;
$avenir-medium: 'Avenir-Medium-webfont', sans-serif;
$avenir-light: 'Avenir-Light-webfont', sans-serif;

$body: 'Open Sans', sans-serif;
$headline: 'EB Garamond', serif;


h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: $torture-device;
  font-family: $body;
  font-weight: 400;
}
p {
  font-size: 1rem;
}

h5,
h6 {
  font-family: $body;
  font-weight: 600;
}

h1 {
  font-size: 4rem;
  font-family: $headline;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.btn {
  font-weight: 600;
}
