// @mixin font-face($font-family) {
//   @font-face {
//     font-family: $font-family;
//     font-style: normal;
//     font-weight: normal;
//     src:  font-url('#{$font-family}.woff2') format('woff2'),
//           font-url('#{$font-family}.woff') format('woff')
//   }
// }
@mixin font-face($font-family) {
  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    src:  font-url('./fonts/#{$font-family}.woff2') format('woff2'),
          font-url('./fonts/#{$font-family}.woff') format('woff')
  }
}

@font-face {
    font-family: 'Berlin-Email-Schaddow';
    src:url('Berlin-Email-Schaddow.ttf.woff') format('woff'),
        url('Berlin-Email-Schaddow.ttf.svg#Berlin-Email-Schaddow') format('svg'),
        url('Berlin-Email-Schaddow.ttf.eot'),
        url('Berlin-Email-Schaddow.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

    font-family: 'FranKleinBook';
    src:url('FranKleinBook.ttf.woff') format('woff'),
        url('FranKleinBook.ttf.svg#FranKleinBook') format('svg'),
        url('FranKleinBook.ttf.eot'),
        url('FranKleinBook.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
