
@mixin font-face($font-family) {
  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    src:  font-url('./fonts/#{$font-family}.woff2') format('woff2'),
          font-url('./fonts/#{$font-family}.woff') format('woff')
  }
}

@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans:300,600');
