@import "./helper/_manifest";

.contact-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 1150px;
  margin: 0 auto;
  border-top: 1px solid $white;
}

.contact-us {
    background-color: $torture-device;
    padding: 60px 0;

  &__address {
    margin: 0 0 2rem;
  }

  .contact-card {
    flex: 1 0 30%;
    max-width: 30%;
    border: none;
    border-radius: 0;
    position: relative;
    margin: 2rem 0 0;
  }

  h4,
  h1,
  p {
    color: $white;
    text-align: center;
  }
  h4 {
    margin: 0;
  }
}
