@import "./helper/_manifest";

.our-team {
  padding: 60px 0;
  &__container {
    h1 {
      text-align: center;
      color: $torture-device;
    }
  }
}

.team__cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 1150px;
  margin: 0 auto;
}

.team {
    padding: 60px 0 0 0;

    .team-card {
      flex: 1 0 30%;
      max-width: 30%;
      border: none;
      border-radius: 0;
      position: relative;
      &__img {
        margin-bottom: 2.3rem;
        .portrait{
          border-radius: 50%;
        }
      }
      &__body {
        h3 {
          text-transform: uppercase;
          margin: 0;
        }
        h6 {
          line-height: 1.4;
          color: $photosynthesis;
          margin-top: 0;
          margin-bottom: 1.5rem;
        }
      }
    }
}
